{% extends 'base.html.twig' %}

{% block title %}Détails du Burger - CRUDcroustillant
{% endblock %}

{% block content %}
	{% include '_header.html.twig' %}
	<h1>🍔 Détails du Burger</h1>
	<div>
		<h2>ID du Burger :
			{{ burger.id }}</h2>
		<ul>
			<li>
				<strong>Nom :</strong>
				{{ burger.name }}</li>

				<strong>Prix :</strong>
				{{ burger.price }}
				€</li>
		</ul>
		<img src="{{ burger.getImageUrl() }}" style="width: 200px; height: auto; border-radius: 25px;">
	</div>
    {% include '_footer.html.twig' %}
{% endblock %}
